@charset "UTF-8";

@use 'variables' as *;
@use 'mixins' as *;

body {
	@include vs(font-size, 320px, 16px, 960px, 18px);
	align-items: center;
	background: $white;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $inter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	margin: 80px 8px 64px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	@include vs(font-size, 320px, 32px, 960px, 70px);
	font-family: $prompt;
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	@include vs(font-size, 320px, 28px, 960px, 48px);
	font-weight: 800;
	margin: 128px 0 64px;
}

p {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

.button {
	background: $blue;
	border-radius: 3em;
	color: $white;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	padding: 0.5em 1.5em;
}

.nowrap {
	white-space: nowrap;
}

.header {
	text-align: center;

	.button {
		margin-top: 56px;
		width: 200px;
	}
}

.hero {
	margin-top: 64px;
	max-width: 1320px;
}

.section-screenshots {
	text-align: center;
}

.screenshots {
	@include vs(row-gap, 320px, 32px, 960px, 64px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		max-width: 568px;
	}

	figcaption {
		color: $gray;
		font-size: 14px;
		font-weight: 500;
	}
}
