<footer class="footer">
  <div class="social">
    <a href="https://github.com/ixkaito" target="_blank" rel="noopener">
      {%- include icon-github.svg -%}
    </a>
    <a href="https://twitter.com/ixkaito" target="_blank" rel="noopener">
      {%- include icon-twitter.svg -%}
    </a>
    <a href="https://kiteretz.com" target="_blank" rel="noopener">
      {%- include icon-website.svg -%}
    </a>
  </div>
  <p class="copyright">
    <small class="nowrap">© 2021 Kite / KITERETZ inc.</small>
    <small class="nowrap">under the MIT License.</small>
  </p>
</footer>
