<header class="header" role="banner">
  <div class="logo">
    {%- include logo.svg -%}
  </div>
  <h1>KTRZ Monokai</h1>
  <p>
    <span class="nowrap">A minimal Visual Studio Code theme</span>
    <span class="nowrap">with the Monokai color scheme.</span>
  </p>
  <a class="button" href="https://marketplace.visualstudio.com/items?itemName=ixkaito.ktrz-monokai&ssr=false#overview" target="_blank" rel="noopener">Install</a>
  <figure class="hero">
    <img src="{{ 'assets/images/hero.webp' | relative_url }}" alt="Laptop computer using KTRZ Monokai">
  </figure>
</header>
